@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

*,
::before,
::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --violet: #674baf;
   --soft-magenta: #e882e8;
   --white: #fff;

   --font-size-10: 62.5%; /* 10px */
   --font-fam-head-poppins: "Poppins", sans-serif;
   --font-fam-body-opensans: "Open Sans", sans-serif;
   --font-weight-400: 400;
   --font-weight-600: 600;
}

html {
   font-size: var(--font-size-10);
   font-weight: var(--font-weight-400);
}

body {
   font-size: 1.6rem;
   font-family: var(--font-fam-body-opensans);
   color: var(--white);
   background-color: var(--violet);
}

.container {
   display: flex;
   flex-direction: column;
   gap: 3rem; /* between main_content & footer */
   align-items: center;
}

.bg_desktop_container {
   position: relative;
   left: -3rem;
}

.bg_desktop {
   position: absolute;
   top: -7rem;
   z-index: -1;
   width: 100%;
}

.logo {
   width: 40%;
   height: 40%;
}

.illustration_intro_container {
   width: 100%;
}

.illustration {
   width: 100%;
}

.mockups {
   width: 100%;
}

.intro_section {
   width: 100%;
   margin-top: 4rem;
   text-align: center;
}

.intro_title {
   font-weight: var(--font-weight-600);
   font-family: var(--font-fam-head-poppins);
}

.intro_details {
   margin: 2.5rem 0;
}

.register_btn {
   width: 70%;
   padding: 1.4rem;
   border-radius: 5rem;
   border: none;
   color: var(--violet);
   box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
}

.register_btn:hover {
   cursor: pointer;
   background-color: var(--soft-magenta);
   color: var(--white);
   font-weight: var(--font-weight-600);
}

/* ================= social media here ================= */
.social_media ul {
   display: flex;
   gap: 2rem; /* between icon */
   justify-content: center;
   list-style-type: none;
}

.icon {
   width: 3.5rem;
   height: 3.5rem;
   padding: 0.5rem 0.75rem;
   border: 0.1rem solid var(--white);
   border-radius: 50%;
   color: var(--white);
}

.social_media a:hover {
   filter: invert(29%) sepia(89%) saturate(864%) hue-rotate(239deg)
      brightness(70%) contrast(191%);
}

footer {
   font-size: 1.4rem;
   text-align: center;
   margin: 1rem 0;
}

footer a {
   color: var(--soft-magenta);
   text-decoration: none;
}

/* ================= mobile screen start here ================= */
@media (max-width: 48.1rem) {
   .container {
      min-width: 32rem;
      background-image: url("../images/bg-mobile.svg");
      background-position: top center;
      background-repeat: no-repeat;
      background-size: contain;
   }

   .main_content {
      margin: 3.5rem;
      max-width: 48.1rem;
   }

   .bg_desktop_container {
      display: none;
   }

   .illustration_intro_container {
      margin: 5rem 0 8rem 0;
   }

   .intro_title {
      font-size: 2.5rem;
      line-height: 3.5rem;
   }
}

/* ================= desktop screen start here ================= */
@media (min-width: 48.1rem) {
   .container {
      min-width: 48.1rem;
   }

   .main_content {
      margin-top: 5rem;
      max-width: 117rem;
   }

   .logo_container {
      width: 40%;
   }

   .illustration_intro_container {
      display: grid;
      column-gap: 4rem; /* between illustration and intro_section */
      grid-template-columns: repeat(12, 1fr);
      margin-top: 5rem;
   }

   .illustration {
      grid-column: span 7;
   }

   .intro_section {
      grid-column: span 5;
      text-align: left;
   }

   .intro_title {
      font-size: 3.65rem;
      line-height: 5.5rem;
   }

   .register_btn {
      width: 40%;
      padding: 1.8rem;
   }

   .social_media {
      display: flex;
      justify-content: flex-end;
   }
}
